@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.box {
  align-items: center;
  color: black;
  border-radius: 40px;
  display: flex;
  margin: auto;
  margin-top: 100px;
  flex-direction: column;
  justify-content: center;
  height: 50vh;
  width: 40vw;
  border: 5px solid black;
}

.display {
  align-items: center;
  border-radius: 40px;
  display: flex;
  margin: auto;
  margin-top: 100px;
  flex-direction: column;
  justify-content: center;
  height: 50vh;
  width: 40vw;
  border: 5px solid black;
}

h1,
h3 {
  font-family: 'Baloo 2', cursive;
}

.name {
  font-size: 20px;
}

.submit {
  margin-top: 15px;
  margin-left: 75px;
  background-color: black;
  color: white;
  font-size: 18px;
  font-family: 'Baloo 2', cursive;
  cursor: pointer;
  display: block;
  padding: 0 25px;
  border-radius: 40px;
}

.submit:hover {
  background-color: #fff;
  color: black;
}

img {
  width: 200px;
}

.error {
  font-weight: bolder;
  color: red;
  font-size: 20px;
}
